{#
/**
 * @file
 * Default theme implementation to print Fuel calculator result.
 *
 * Available variables:
 *   - fuel_spent
 *   - fuel_cost
 *
 * @ingroup themeable
 */
#}
<div class="fuel_calculator">
  <p>Fuel spent {{ fuel_spent }} liters</p>
  <p>Fuel cost {{ fuel_cost }} EUR</p>
</div>